#trigger {
  position: fixed;
  left: 0.8rem;
  bottom: 0.8rem;
  cursor: pointer;
  z-index: 80;
  transform: scale(80%, 80%);
  transition: transform 150ms ease-in-out;
}
#trigger:hover {
  transform: rotate(90deg) scale(100%, 100%);
}
#dialog,
#dialog * {
  box-sizing: border-box;
  border-radius: 0.3em;
}
#dialog {
  background: rgb(215, 180, 115);
  box-shadow: 0.15rem 0.15rem 0.35rem #1a1a1a;
  border: 0.1rem solid #1a1a1a;
  padding: 0.8rem;
  width: 278px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "_header _header"
    "_name   _name"
    "_save   _cancel";
}
#dialog > header {
  grid-area: _header;
  color: black;
  padding: 0.3rem 0.3rem 0 0.3rem;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  font-size: large;
  font-weight: bold;
}

#dialog > div:has(> #name) {
  grid-area: _name;
}
#dialog > div:has(> #save) {
  grid-area: _save;
}
#dialog > div:has(> #cancel) {
  grid-area: _cancel;
}
#dialog > div > #name {
  font-size: 1.3rem !important;
  padding: 0.2rem;
}
#dialog > div > #save,
#dialog > div > #cancel,
#dialog > div > #name {
  border: 0;
  font:
    normal 500 1.6rem "Teko",
    sans-serif;
  outline: none;
  width: 100%;
}
#dialog > div > button {
  background-color: rgb(175, 85, 15);
  color: black;
  transition: all 400ms ease-in-out;
}
#dialog > div > button:hover:enabled {
  background-color: rgb(182, 143, 113);
  color: black;
}
#dialog > div > button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
#overlay {
  background-color: white;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

@media screen and (min-width: 480px) {
  #dialog {
    width: 452px;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "_header  _header"
      "_name     _name"
      "_save   _save"
      "_cancel    _cancel";
  }
}
