.container {
  font-family: "Arial, sans-serif";
  text-align: center;
  padding: 20px;
  padding-top: 85px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.counter {
  font-family: "Arial, sans-serif";
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  background-color: white;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  transform: none;
}

.button:disabled:hover {
  background-color: #ccc;
}

.button-gold {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  color: #333;
}

.button-silver {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #d6d6d5e1;
  border: none;
  border-radius: 5px;
  color: #333;
}

.button-bronze {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #88722f;
  border: none;
  border-radius: 5px;
  color: #333;
}

.delete-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 10px; */
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  color: white;
}
