:root {
  --main-bg-color: #f3eded;
  --main-color: #242424f8;

  font-size: 12pt;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
